{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="p-5 mb-4 bg-light border rounded-3">
                <h1 class="display-4 mb-3">Анализатор страниц</h1>
                <p class="lead mb-4">Бесплатно проверяйте сайты на SEO-пригодность</p>
                
                <form action="/urls" method="post" class="row g-2">
                <div class="col-12 col-md flex-grow-1">
                    <input type="url" 
                        name="url" 
                        class="form-control form-control-lg {% if errors and errors.get('name') %}is-invalid{% endif %}" 
                        placeholder="https://www.example.com" 
                        value="{{ url_name | default('') }}" 
                        required>
                    
                    {% if errors and errors.get('name') %}
                        <div class="alert alert-danger" role="alert">
                            {{ errors['name'] }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="col-12 col-md-auto">
                    <button type="submit" class="btn btn-primary btn-lg w-100">ПРОВЕРИТЬ</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}